@media (min-width:768px){
    *{
    margin: 0;
    padding: 0;
    
    }
    body{
        background-image: url(/media/fondo03.jpg);
        background-size: cover;
    }


    header{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .caja1{
        font-family: 'Montserrat', sans-serif;
        font-family: 'Teko', sans-serif;
    }
    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav li{
        display: inline;
        margin-right: 20px;
    }
    nav a{
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        color: rgb(9, 157, 216);
        
    }
    a:hover{
        color: white;
    }

    .caja2{
        position: absolute;
        top: 250%;
        left: -60%;
        text-align: center;
    }
    .caja2 h1{
        color: #099dd8;
        text-align: left;
        font-size: 60px;
        font-weight: 100;
    }

    h1{
        font-family: 'Kaushan Script', cursive;
    }

    .caja3{
        position: absolute;
        top: 200%;
        left: 60%;
    }
    .caja3 img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid #099dd8;
    }
    
}

@media (min-width:320px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url(/media/fondo03.jpg);
        background-size: cover;
    }
    header{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .caja1{
        
        font-family: 'Montserrat', sans-serif;
        font-family: 'Teko', sans-serif;
    }
    
    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav li{
        display: inline;
        margin-right: 20px;
    }
    nav a{
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        color: rgb(9, 157, 216);
        
    }
    a:hover{
        color: white;
    }
    .caja2{
        position: absolute;
        top: 200%;
        left: -40%;
        text-align: center;
    }
    .caja2 h1{
        color: #099dd8;
        text-align: left;
        font-size: 60px;
        font-weight: 100;
    }
    h1{
        font-family: 'Kaushan Script', cursive;
    }
    .caja3 img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid #099dd8;
    }
    .caja3{
        position: absolute;
        top: 200%;
        left: 60%;
    }
}

