@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400;500;700&display=swap');



:root{
    --theme-color: #2a5c5b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--theme-color);
}
a{
    text-decoration: none;
    display: inline;
    color: white;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #3c4a4b;

}
header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .header-icons-container .icons span{
    color: white;
}
header .header-icons-container .icons span:hover{
    color: black;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    background-color: rgb(44, 43, 43);

}
nav .nav-logo-container {
    font-family: 'Caveat', sans-serif;
    font-size: 36px;
    display: flex;
    justify-items: right;
    align-items:center;
    justify-content: space-between;
    margin-left: 50px;
    
}
nav .profile-link{
    font-family: 'Caveat', sans-serif;
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
    text-transform: uppercase;
    transition: .5s ease;
}

nav .profile-link .active{
    border-bottom: 1px solid orange;
}
nav .profile-link a:hover{
    color: orange;
}
header .bio p{
    text-justify: auto;
    color: white;
    display:inline-block;
    text-align: center;
    padding-left: 50px;
}
header .bio img{
   display: inline-block;
   flex-direction: column;
   border-radius: 50%;
   padding: 10px;
}
header .bio{ 
    display: flex; 
    min-height: 500px; 
    align-items: center;
    justify-content: center;
} 

